<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="article-show py-5">
      <div class="article-show_title d-flex justify-content-between align-items-baseline">
        <h1> <%= @article.title %></h1>
        <div class="upvote clickable" id="votes-article-<%= @article.id %>">
          <%= render 'vote-icon', article: @article %>
        </div>
      </div>
      <p><%= @article.rich_content %></p>
    </div>
    <% unless @article.publish %>
      <%= link_to article_path(@article), method: :put do %>
        <button class="btn btn-primary mt-4">Publier cet article</button>
      <% end %>
    <% end %>
    <div class="comments-lists">
      <% @article.comments.each do |comment| %>
        <div class="comment-card">
          <div class="comment-card_header">
            <span class="comment-card_username"><%= comment.user.nickname %></span>
            <span class="comment-card_datetime"><%= comment.created_at.strftime("%d-%m-%Y") %></span>
          </div>
          <div class="comment-card_content" id="comment-<%= comment.id %>">
            <%=  comment.content %>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="comment-form my-5">
          <%= simple_form_for [@article, Comment.new] do |f| %>
            <%= f.input :content, as: :string %>
            <%= f.submit 'Poster mon commentaire', class: "btn btn-primary"%>
          <% end %>
        </div>
      <% end %>
    </div>

 </div>
</div>
